<div class="wrapper">
<h2 class="devise-title">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class= "signup-signin"> 
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-ent" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "user-ent" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを保存する %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "user-setup" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>