.wrapper
  .search
    = search_form_for(@q, id: "search-form")do |f|
      = f.search_field :name_cont, class: "search-field", placeholder: "キーワード"
      = button_tag type: 'submit', class: 'search-submit' do
        = icon('fas', 'search', class: "search-button")
  .pagination= paginate @posts
  .main
    - @posts.each do |post|
      .contents
        .contents__item
          = link_to image_tag(post.image.url,:size => '300x200', class: 'post-image'), post_path(post.id)
          .content-title= post.name.truncate(24, omission: '...')
  .pagination= paginate @posts    
=render "footer"
  