.wrapper
  .post-user
    .post-user-info
      %ul.post-users
        【投稿者】
      = link_to profile_user_path(@post.user.id), class: "post-users-name" do
        %li.post-user-name= @post.user.name
  .content-info
    .main-contents
      .contents-favorite 
        - unless user_signed_in?
          = icon('fas', 'heart', class: "favorite-locks")
          .favorite= @post.favorites.count
        - if user_signed_in?
          - if current_user.already_favorited?(@post)
            = link_to post_favorite_path(@post), method: :delete do
              = icon('fas', 'heart', class: "favorite-destroy")
          -else
            = link_to  post_favorites_path(@post), method: :create do
              = icon('far', 'heart', class: "favorite-create")
          .favorite= @post.favorites.count
      .contents-show
        %ul.post-title
          【タイトル】
          %li= safe_join(@post.name.split("\n"), tag(:br))
        .post-image
          = image_tag(@post.image.url, :size => "600x400")
        .post-text
          <情報>
          .post-message= safe_join(@post.text.split("\n"), tag(:br))
    .contents-comment
      - if current_user
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "コメントする" , rows: "1", class: "textbox"
          = form.submit "SEND", class: "form__submit"
      - else
        .comments-use 
          ※※※コメントの投稿には新規登録/ログインが必要です※※※
      .comments
        ＜コメント一覧＞
      .comments-index
        - if @comments
          - @comments.each do |comment|
            %p
              .created_at
                = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
              %strong
                = link_to comment.user.name, "/users/#{comment.user_id}", class: "post-user-name"
            .post-comment= safe_join(comment.text.split("\n"), tag(:br))
            .comment-infomation
              - if user_signed_in? && current_user.id == comment.user_id
                = link_to post_comment_path(comment.post.id, comment.id), class: "comment-info-destroy", method: :delete do
                  = icon('fas', 'trash-alt', class: "comment-destroy")
        .pagination= paginate @comments
        
       