!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lonerip
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    %header.header
      %input#openSidebarMenu.openSidebarMenu.checkingbox{:type => "checkbox"}/
      %label.sidebarIconToggle{:for => "openSidebarMenu"}
        .spinner.diagonal.part-1
        .spinner.horizontal
        .spinner.diagonal.part-2
      .title
        = link_to "LONERIP", "/", class: "main-title"      
      #sidebarMenu
        %ul.sidebarMenuInner
          - if user_signed_in?
            %li.userimage-infomation
              .userimage-info
                .userimage
                  = image_tag 'default-user-image.png', alt: 'userimage', height: '40px', width: '40px', class: 'userimage'
              .username
                = current_user.name
          - else
            %li
              %a= link_to "ログイン", new_user_session_path, class: "user-new"
            %li
              %a= link_to "新規登録", new_user_registration_path, class: "user-new"
          - if user_signed_in?
            %li
              %a= link_to "マイページ", "#{profile_user_path(current_user.id)}", class: "user-set"
            %li
              %a= link_to "投稿一覧", "/users/#{current_user.id}", class: "user-set"
            %li
              %a= link_to  "投稿する", new_post_path, class: "post"
            %li    
              %a= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-set"
          -# %li
          -#   %a{:href => "https://vanila.io", :target => "_blank"} aa
          -# %li
          -#   %a{:href => "https://instagram.com/plavookac", :target => "_blank"} Instagram
          -# %li
          -#   %a{:href => "https://twitter.com/plavookac", :target => "_blank"} Twitter
          -# %li
          -#   %a{:href => "https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg", :target => "_blank"} YouTube
          -# %li
          -#   %a{:href => "https://www.linkedin.com/in/plavookac/", :target => "_blank"} Linkedin
    -# %header.header
      .title
        = link_to "LONERIP", "/", class: "main-title"
 
    -#   - if user_signed_in?
    -#     .user_nav.grid-6
    -#       %span
    -#         = current_user.name
    -#         %ul.user__info
    -#           %li
    -#             = link_to "マイページ", "/users/#{current_user.id}", class: "user-set"
    -#             = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-set"
    -#       = link_to  "投稿する", new_post_path, class: "post"
    -#   - else
    -#     .grid-6
    -#       = link_to "ログイン", new_user_session_path, class: "user-new"
    -#       = link_to "新規登録", new_user_registration_path, class: "user-new"
    
    = yield
